.project-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    opacity: 0.6;
}

.project-card {
    padding: 0;
}

.project-card img {
    max-height: 200px;
    object-fit: cover;
    object-position: top;
}

.main-project img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: top;
    opacity: 0.6;
}

.project-placeholder img {
    object-position: center;
}

.main-project-label, .project-label {
    padding: 1%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: rgba(44, 44, 44, 0.9);
    width: 100%;
    color: white;
}

.project-card:hover img {
    opacity: 1;
}